@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use 'sass:map';

.page-header {
    padding: map.get($spacing, '8') 0;
    background-color: var(--color-background-secondary);
  
    &__intro {
      @include flex-column;
      gap: map.get($spacing, '4');
      max-width: 65ch;
      margin: 0 auto;
      text-align: center;
    }
  
    &__title {
      margin: 0
    }
  
    &__description {
      @include text-style('lg', 'normal', 'relaxed');
      color: var(--color-text-secondary);
    }
  }