@use "../abstracts/variables" as vars; 
@use "../abstracts/mixins" as mixin;

:root {
  // Primary Colors
  --color-primary: #{vars.$color-primary};
  --color-primary-light: #{vars.$color-primary-light};
  --color-primary-dark: #{vars.$color-primary-dark};
  
  // Neutral Colors
  --color-neutral-100: #{vars.$color-neutral-100};
  --color-neutral-200: #{vars.$color-neutral-200};
  --color-neutral-300: #{vars.$color-neutral-300};
  --color-neutral-400: #{vars.$color-neutral-400};
  --color-neutral-500: #{vars.$color-neutral-500};
  --color-neutral-600: #{vars.$color-neutral-600};
  --color-neutral-700: #{vars.$color-neutral-700};
  --color-neutral-800: #{vars.$color-neutral-800};
  --color-neutral-900: #{vars.$color-neutral-900};

  // Text Colors
  --color-text-primary: #{vars.$color-text-primary};
  --color-text-secondary: #{vars.$color-text-secondary};
  --color-text-tertiary: #{vars.$color-text-tertiary};

  // Link Colors
  --color-link: #{vars.$color-link};
  --color-link-hover: #{vars.$color-link-hover};

  // Background Colors
  --color-background-primary: #{vars.$color-background-primary};
  --color-background-secondary: #{vars.$color-background-secondary};
  --color-background-tertiary: #{vars.$color-background-tertiary};

  // Border Colors
  --color-border-light: #{vars.$color-border-light};
  --color-border-default: #{vars.$color-border-default};
  --color-border-dark: #{vars.$color-border-dark};

  // Shadow
  --color-shadow: #{vars.$color-shadow};
}

// s@include generate-color-variants($color-success, 'color-success');
//   @include generate-color-variants($color-warning, 'color-warning');
//   @include generate-color-variants($color-error, 'color-error');
//   @include generate-color-variants($color-info, 'color-info');