// base/_typography.scss
@use "../abstracts/mixins" as * ;
@use "../abstracts/variables" as *;
@use 'sass:map';


body {
  @include text-style();
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

@each $level in (1, 2, 3, 4, 5, 6) {
  h#{$level} {
    @include heading($level);
  }
}

code {
  @include text-style('sm', 'normal', 'base', 'normal', 'mono');
}

small {
  @include text-style('xs', 'normal', 'base');
}


// Paragraph styles
p {
  margin-bottom: 1.5em;
  max-width: 70ch;
  
  &.lead {
    font-size: vars.$font-size-lg;
    color:  var(--color-text-secondary);
  }
}

// Link styles
a {
  color: var(--color-link);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: all 0.2s ease;
  
  &:hover {
    color: var(--color-link-hover);
    text-decoration-thickness: 2px;
  }
}

// List styles
ul, ol {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
  color: var(--color-text-primary);
}

// Blockquote styles
blockquote {
  border-left: 3px solid var(--color--primary);
  padding-left: 1em;
  margin: 2em 0;
  font-style: italic;
  color: var(--color--text-secondary);
}

// Meta text elements
small {
  font-size: vars.$font-size-sm;
  color: var(--color--text-tertiary);
}

// Selection styles
::selection {
  background-color: rgba(var(--color--primary, 0.1));
  color: var(--color--primary);
}

