@use "variables";
@use 'sass:map';

// Media Query Mixin
@mixin respond-to($breakpoint) {
  $size: map.get(variables.$grid-breakpoints, $breakpoint);
  @media (max-width: #{$size}) { 
    @content; 
  }
}

  // Flex Center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Clearfix
  @mixin clearfix { 
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  // Text Truncate
  @mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  // Transition
  @mixin transition($property, $duration, $timing: ease) {
    transition: $property $duration $timing;
  }
  
  // Box Shadow
  @mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
  }