@use "../abstracts/mixins";
@use "../abstracts/variables";


// Grid Container
.grid-container {
  display: grid;
  grid-template-columns: repeat(variables.$grid-columns, 1fr);
  gap: variables.$grid-gutter;
  width: 100%;
  max-width: 1200px; // Optional for centered layouts
  margin: 0 auto; // Center container
  //padding: 0 variables.$grid-row-gutter; // Optional inner padding
}


// Grid Items 
.grid-item {
  grid-column: span 12; // Default to 12 column span
}

// Generate column utilities
@for $i from 1 through variables.$grid-columns {
  .col-#{$i} {
    grid-column: span $i;
  }
  
  @each $breakpoint, $value in variables.$grid-breakpoints {
    .col-#{$breakpoint}-#{$i} {
      @include mixins.respond-to($breakpoint) {
        grid-column: span $i;
      }
    }
  }
}

// Generate gap utilities
@each $size in variables.$gap-sizes {
  .gap-x-#{$size} {
    column-gap: $size * variables.$grid-gutter-base;
  }

  .gap-y-#{$size} {
    row-gap: $size * variables.$grid-gutter-base;
  }

  .gap-#{$size} {
    gap: $size * variables.$grid-gutter-base;
  }
}
